/Praktikum_07/PegawaiDanGaji/nbproject/private/
/Praktikum_07/tugas/nbproject/private/
/Praktikum_07/tugas/build/
/Praktikum_10/modul/modul/nbproject/private/
/Praktikum_10/modul/nbproject/private/
/Praktikum_10/modul/build/
/Praktikum_10/Proyek2/nbproject/private/
/Praktikum_10/Proyek2/build/
/Praktikum_10/Proyek3/nbproject/private/
/Praktikum_10/Proyek3/build/
/Praktikum_10/Proyek4/nbproject/private/
/Praktikum_10/Proyek4/build/
